<div>
    <input [(ngModel)]="inputText" placeholder="Enter Text" (keydown.enter)="sendData()"/>
    <button (click)="sendData()">Submit</button>
</div>

<div *ngIf="!isObjectEmpty(instantForecast)">
    <h2>API Response:</h2>
    <p>Temperature: {{roundToWholeNumber(instantForecast.main.temp) }}°</p>
    <p>Wind: {{roundToWholeNumber(instantForecast.wind.speed) }} MPH</p>
    <p>Humidity: {{roundToWholeNumber(instantForecast.main.humidity) }}%</p>
    <pre>{{instantForecast | json}}</pre>
    <pre *ngIf="WeatherData">{{WeatherData.list[0].dt_txt.slice(0, 10) | json}}</pre>
</div>

  <div *ngFor="let city of cityArray">
    <p>{{city}}</p>
  </div>